*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    background:#111;
    color:white;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#191919;
    position:sticky;
    top:0;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#3fc76d;
    text-decoration: none;
}

nav a{
    color:white;
    margin-left:25px;
    text-decoration:none;
    transition:.3s;
}

.footerStyle {
    font-size:20px;
    font-weight:bold;
    color:white;
    text-decoration: none;
}

nav a:hover{
    color:#3fc76d;
}

.hero{
    height:70vh;
    background:url(images/Hero.jpg) center/cover;
    display:flex;
    align-items:center;
    padding:8%;
}

.hero-text{
    max-width:600px;
    background:rgba(0,0,0,.6);
    padding:40px;
    border-radius:10px;
}

.hero h1{
font-size:55px;
margin-bottom:20px;
}

.hero p{
font-size:18px;
line-height:1.7;
margin-bottom:30px;
}

.button, button{
    background:#3fc76d;
    border:none;
    padding:14px 28px;
    color:#fff;
    border-radius:5px;
    cursor:pointer;
}

.search{
padding:50px 8%;
text-align:center;
}

.search input{
    width:100%;
    max-width:700px;
    padding:18px;
    font-size:18px;
    border-radius:8px;
    border:none;
}

.article{
    background:#1c1c1c;
    border-radius:10px;
    overflow:hidden;
    transition:.3s;
    padding:0;
    line-height:1.8;
    margin:auto
}

.article img{
    width:250px;
    height:250px;
    object-fit:cover;
    display:block;
}

.article:hover{
    transform:translateY(-8px)
}

/* Article Container */

.article-page {
    max-width: 90%;
    margin: 50px auto;
    background: #1c1c1c;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.35);
}


/* Article Content */

.article-content {
    background: #373737;
    padding: 40px;
    color: white;
}

/* Article Image */

.article-content .titleimg {
    width: 80%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: auto;
    border-radius: 12px;
    margin-bottom: 35px;
}

/* Title */

.article-content h1 {
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #ffffff;
}

/* Paragraph Text */

.article-content p {
    font-size: 17px;
    line-height: 1.8;
    color: #dddddd;
    margin-bottom: 20px;
    text-align: justify;
}



/* First Paragraph Highlight */

.article-content p:first-of-type {
    font-size: 19px;
    color: #ffffff;
}



/* Mobile Responsive */

@media(max-width:700px){

    .article-page {
        margin: 20px;
    }


    .article-content {
        padding: 25px;
    }


    .article-content img {
        height: 250px;
    }


    .article-content h1 {
        font-size: 30px;
    }


    .article-content h2 {
        font-size: 23px;
    }

}

.filters{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
    margin-bottom:50px;
}

.filter{
    background:#222;
    border:none;
    color:white;
    padding:12px 20px;
    border-radius:50px;
    cursor:pointer;
}

.filter.active,
.filter:hover{
    background:#32d26b;
}

.badge{
    display:inline-block;
    background:#32d26b;
    color:#000;
    padding:6px 12px;
    border-radius:50px;
    font-size:14px;
    margin-bottom:20px;
}

.article h3{
    margin:10px 0;
}

.article p{
    color:#ccc;
}

.read{
    display:inline-block;
    margin-top:20px;
    color:#32d26b;
    text-decoration:none;
    font-weight:600;
}

.noResults{
    display:none;
    text-align:center;
    font-size:22px;
    color:#999;
    margin-bottom:60px;
}

.pagination{
    text-align:center;
    padding-bottom:70px;
}

.pagination button{
    padding:12px 18px;
    margin:5px;
    background:#222;
    color:white;
    border:none;
    cursor:pointer;
}

.pagination button:hover{
    background:#32d26b;
}

.featured{

padding:60px 8%;

}

.featured h2{

margin-bottom:30px;

}

.featured-card{

display:flex;
background:#1c1c1c;
border-radius:10px;
overflow:hidden;

}

.featured-card img{

width:50%;
object-fit:cover;

}

.featured-card div{

padding:40px;

}

.grid{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:30px;
    padding:50px 8%;
}

@media (max-width:1000px){
    .grid{
        grid-template-columns:repeat(2,1fr);
    }
}

@media (max-width:600px){
    .grid{
        grid-template-columns:1fr;
    }
}



@media(max-width:900px){

header{

flex-direction:column;

}

nav{

margin-top:20px;

}

.hero h1{

font-size:38px;

}

.featured-card{

flex-direction:column;

}

.featured-card img{

width:100%;

}
}

footer {
    text-align:center;
    padding:30px;
    background:#0a0a0a;
}